@model LoginViewModel
@{
    ViewData["Title"] = "Child Care System";
    Layout = "_SiteLayout";
}

<div style="width:100%; background-color:lightgrey">
    <div id="carouselExampleControls" class="carousel vert slide" data-ride="carousel" data-interval="2000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block mx-auto img-fluid" src="~/images/CampusHomeslide.jpg" style="width:100%; height:100%;" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto img-fluid" src="~/images/schoolbus2.png" style="width:100%; height:100%" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto img-fluid" src="~/images/gptracking2.jpg" style="width:100%; height:100%" alt="Third slide">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="text-align:center">
        <button><a href="#front">Front View</a></button>
        <button><a href="#class">Class Rooms</a></button>
        <button><a href="#back">Back View</a></button>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6" id="front">
        <img src="~/images/schoolcampus2.jpg" style="width:100%;" />
    </div>
    <div class="col-md-3">
    </div>
</div>
<div>
    <br />
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <img src="~/images/img/childpic.jpg" style="width:100%;" />
    </div>
    <div class="col-md-3">
    </div>
</div>
<div>
    <br />
</div>
<div class="row" id="back">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <img src="~/images/campus1.jpg" style="width:100%;" />
    </div>
    <div class="col-md-3">
    </div>
</div>
<div>
    <br />
</div>
<div class="row" >
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <img src="~/images/campus2.png" style="width:100%;" />
    </div>
    <div class="col-md-3">
    </div>
</div>
<div>
    <br />
</div>


<div class="our_department_area" id="class">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom1.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Class Room: Batch A</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom2.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Class Room: Batch B</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom3.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Class Room: Batch C</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom4.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Class Room: Batch D</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom5.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Class Room: Batch E</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/img/classroom7.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Drawing Room</a></h3>
                        <p>A classroom is a learning space, a room in which both children and teacher learn together.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<style>
    button {
        background-color: white;
        color: black;
        border: none;
        width: 30%;
        padding: 10px 10px 10px 10px;
    }

        button:hover {
            background-color: grey;
            color: white;
            border-color: black;
        }
</style>