@model LoginViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_SiteLayout";
}

<!-- slider_area_start -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/images/img/Home1.jpg')">
            <div style="margin-left:12%" class="">
                <h1>
                    <span style="color:white;font-family:'Berlin Sans FB'; font-size:70px;">Child care</span>
                </h1><br />
                <p style="font-size:95%; color:black">
                    Providing a quality childcare service in best environment<br /> which is safe, caring and stimulating.
                </p><br /><br />
                <a href="~/Account/Login"><button style="margin-left:30%" class="loginbtn" href="~/Account/Login"><strong>Click Here to Login</strong></button></a>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/img/Home3.jpg')">
            <div style="margin-left:12%" class="">
                <h1>
                    <span style="color:white;font-family:'Berlin Sans FB'; font-size:70px;">Child care</span>
                </h1><br />
                <p style="font-size:95%; color:black">
                    Providing a quality childcare service in best environment <br /> which is safe, caring and stimulating.
                </p><br /><br />
                         
                @*<button style="margin-left:30%" class="loginbtn" onclick="showloginpopup()" href="#setting"><strong>Click Here to Login</strong></button>*@
                <a href="~/Account/Login"><button style="margin-left:30%" class="loginbtn"><strong>Click Here to Login</strong></button></a>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/images/img/Home6.jpg')">
            <div style="margin-left:12%" class="">
                <h1>
                    <span style="color:white;font-family:'Berlin Sans FB'; font-size:70px;">Child care</span>
                </h1><br />
                <p style="font-size:95%; color:black">
                    Providing a quality childcare service in best environment <br /> which is safe, caring and stimulating.
                </p><br /><br />
                <a href="~/Account/Login"><button style="margin-left:30%" class="loginbtn" href="~/Account/Login"><strong>Click Here to Login</strong></button></a>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- slider_area_end -->
<!-- service_area_start -->
<div class="service_area">
    <div class="container p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-user-secret"></i>
                    </div>
                    <h3> 50 Teachers</h3>
                    <p>Safety  must be the priority for any children care service provider.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>1200 students</h3>
                    <p>Set your Goals High, Dream big.. We always help to reach there.</p>
                </div>
            </div>
            <div class="col-xl-4 col-md-4">
                <div class="single_service">
                    <div class="icon">
                        <i class="fa fa-building"></i>
                    </div>
                    <h3>30 ClassRoom</h3>
                    <p>Your Presence make your class fun and exciting.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- service_area_end -->
<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="~/images/img/classroom4.jpg" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="~/images/img/classroom5.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome_docmed_info">
                    <h2>Welcome to Child Care System</h2>
                    <h3>
                        Best Care For Your <br>
                        Children
                    </h3>
                    <strong>
                        Vision:<br />
                    </strong>
                    <p>
                        To Provide many opportunities to our students to succeed their goals And providing good education environment.
                    </p>
                    <strong>
                        Mission:<br />
                    </strong>
                    <p>
                        Responsibility make a difference. It always share between family and society. We are here to deliver best child safety services. And we are here to take care of you.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->
<!-- offers_area_start -->
<div class="our_department_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-55">
                    <h3>Our Features</h3>
                    <p>
                        Take care of your children, they are your richest treasure.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/school-bus-tracking-2188022.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Bus Tracking System</a></h3>
                        <p>An Integrated solution for fleet management, student tracking and safety.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/Camera.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">Video Monitoring System</a></h3>
                        <p>In education, technology can be a life-changer for a kind, who are in the school and out of the school.</p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_department">
                    <div class="department_thumb">
                        <img src="~/images/FindMyKids-1024x576.jpg" alt="">
                    </div>
                    <div class="department_content">
                        <h3><a href="#">GPS tracking System</a></h3>
                        <p>A  application is probably the most comfortable way to monitor the status or location of your child. </p>
                        @*<a href="#" class="learn_more">Learn More</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- offers_area_end -->
<!-- business_expert_area_start  -->
<div class="business_expert_area">
    <div class="business_tabs_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <ul class="nav" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                               aria-selected="true">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                               aria-selected="false">ClassRoom</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                               aria-selected="false">Play Ground</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="border_bottom">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-nature-people">C</i>
                                </div>
                                <h3>Best Campus</h3>
                                <p>
                                    Our campus was designed to nurture young minds and to allow for creative freedom of thought and action.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/schoolcampus2.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-laptop">C</i>
                                </div>
                                <h3>Classroom</h3>
                                <p>
                                    The classroom is a positive place where a student can come to work toward specific goals set before them in the class objectives.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/classroom1.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row align-items-center">
                        <div class="col-xl-6 col-md-6">
                            <div class="business_info">
                                <div class="icon">
                                    <i class="zmdi zmdi-circle-o">C</i>
                                </div>
                                <h3>Play Ground</h3>
                                <p>
                                    The PlayGround Encourages outdoor playing activities, Improves the physical health of children.
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="business_thumb">
                                <img src="~/images/ground.jpg" style="border-radius:20px" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- business_expert_area_end  -->
