@{
    ViewData["Title"] = "PlayGround";
    Layout = "_SiteLayout";
}


<section class="banner">
    <h1 style="border: 1px solid grey; background-color: white; padding: 20px 40px 20px 40px; font-family:'Baskerville Old Face'">Play Ground</h1>
</section>

<style>
    .banner::after, .banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: skew(15deg) translateX(-50%);
        width: 75%;
        height: 100%;
        background-image: linear-gradient(120deg,#eaee44,#33d0ff);
        background-color: #333;
        opacity: .7;
    }

    .banner::before {
        transform: skew(-15deg) translateX(-50%);
    }

    .banner {
        overflow: hidden;
    }

        .banner > * {
            z-index: 100;
        }

    .banner {
        position: relative;
        min-height: 60vh;
        background-image: url(/images/ground.jpg);
        background-size: cover;
        display: flex;
    }

    h1 {
        margin: auto;
    }

    body {
        margin: 10px;
    }
    .img{
        opacity:0.5;
    }
</style>

<div class="row" style="background-color:lightgrey; padding:20px 1px 20px 1px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-10" style="text-align:center">
        <img src="~/images/img/playground2.jpg" style="border: 6px solid black" />
        <img src="~/images/img/playground1.jpg" style="border: 6px solid black" />
        <img src="~/images/img/playground3.jpg" style="border: 6px solid black" />
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row img">
    <img src="~/images/learn-2004896 (1).jpg" style="width:100%;" />
</div>

    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/images/ground.jpg" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href="#">Play Ground</a></h3>
                            <p>Playgrounds provide a place for children to work off energy, have fun, and interact with peers.</p>
                            @*<a href="#" class="learn_more">Learn More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/images/ground4.jpg" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href="#">Play Ground</a></h3>
                            <p>Playgrounds provide a place for children to work off energy, have fun, and interact with peers.</p>
                            @*<a href="#" class="learn_more">Learn More</a>*@
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/images/ground5.jpg" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href="#">Play Ground</a></h3>
                            <p>Playgrounds provide a place for children to work off energy, have fun, and interact with peers.</p>
                            @*<a href="#" class="learn_more">Learn More</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>







