
@{
    ViewData["Title"] = "BusSchedule";
    Layout = "_AppLayout";
}


@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<!-- MAIN CONTENT-->
<div class="main-content">

    @*<div class="section__content section__content--p30">*@

    @*<button class="btn btn-danger col-lg-1 pull-right" style="margin-right:5%;">- DELETE</button>*@<br />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <div class="overview-wrap">
                    <h2 class="title-1">
                        Bus Schedule
                    </h2>
                </div>
                <hr />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary col-lg-3 pull-right" style="margin-right:5%;" onclick="showchangeschedule();">+ CHANGE SCHEDULE</button>
                <button class="btn btn-primary col-lg-1 pull-right" style="margin-right:5%;" onclick="showadd();">+ ADD</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-responsive-data2" style="overflow:auto">
                    <table class="table table-data2" id="bus">
                        <thead>
                            <tr>
                                <th>Bus Id</th>
                                <th>Bus Name</th>
                                <th>Bus Driver</th>
                                <th></th>
                            </tr>
                        </thead>
                       
                    </table>
                </div>
            </div>

        </div>


    </div>
</div>

<!--start Account popup-->
<div id="overlay1" style="z-index:4; overflow:scroll">

    <div id="schedule" class="">
        <div class="form-container">
            <a class="pull-right text-primary" onclick="hideschedule();"><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Bus Schedule</h4><hr />
            <form method="post">
                <div class="form-group" hidden>
                    <label>Bus Id</label>
                    <input class="form-control" type="text" name="busid" id="busid" required>
                </div>
                <div class="form-group">
                    <label>Bus Name</label>
                    <input class="form-control" type="text" name="bdriverName" id="busname" required>
                </div>
                <div class="form-group">
                    <label>Driver Name</label>
                    <input class="form-control" type="text" name="bdriverName" id="drivername" required>
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input class="form-control" type="text" name="to" id="busto" required>
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input class="form-control" type="text" name="from" id="busfrom" required>
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control" type="time" name="time" id="bustime" required>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" type="text" name="date" id="busdate" required>
                </div>
                <div class="form-group" hidden>
                    <label>Bus Schedule Id</label>
                    <input class="form-control" type="text" name="budschedulerid" id="budschedulerid" required>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="BusScheduleupdate">UPDATE</button>
            </form>
        </div>
    </div>


    <div id="changeschedule" class="">
        <div class="form-container">
            <a class="pull-right text-primary" onclick="hidechangeschedule();"><i class="fa fa-close"></i></a>
            <h3 align="center" class="text-primary">Bus Change Schedule</h3><hr />
            <form method="post">
                <div class="form-group">
                    <label>Bus Id</label>
                    <select id="getbusid" class="form-control" onchange="filldetails()">
                        <option value="Choose Bus Id" selected disabled>Choose Bus Id to swap</option>
                    </select>
                    @*<input class="form-control" type="text" name="busid" id="busid" required>*@
                </div>
                <div class="col-lg-12" style="display: flex">
                    <div class="form-group col-lg-6">
                        <label>Destination Name</label>
                        <input class="form-control" type="text" name="destination" id="destination" required readonly>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Source Name</label>
                        <input class="form-control" type="text" name="source" id="source" required readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control" type="text" name="time" id="scheduletime" required readonly>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" type="text" name="date" id="scheduledate" required readonly>
                </div>
                <div class="form-group">
                    <label>Add New Bus</label>
                    <select id="getnewbusid" class="form-control">
                        
                    </select>
                </div>
                <button type="submit" class="btn btn-block btn-primary" id="BusScheduleSwap" onclick="BusScheduleSwap()">CHANGE</button>
            </form>
        </div>
    </div>

    <div id="add" class="">
        <div class="form-container">
            <a class="pull-right" href=" "><i class="fa fa-close"></i></a>
            <h4 align="center" class="text-primary">Add Bus</h4><hr />
            <form method="post">
                <div class="form-group">
                    <label>Bus Name</label>
                    <input class="form-control" type="text" name="bname" id="bname" required>
                </div>
                <div class="form-group">
                    <label>Bus DriverName</label>
                    <input class="form-control" type="text" name="dname" id="dName" required>
                </div>
                @*<div class="form-group">
                        <label>To</label>
                        <input class="form-control" type="text" name="email" id="bto" required>
                    </div>
                    <div class="form-group">
                        <label>From</label>
                        <input class="form-control" type="text" name="email" id="bfrom" required>
                    </div>
                    <div class="form-group">
                        <label>Time</label>
                        <input class="form-control" type="time" name="email" id="btime" required>
                    </div>
                    <div class="form-group">
                        <label>Date</label>
                        <input class="form-control" type="date" name="email" id="bdate" required>
                    </div>*@
                <button type="submit" class="btn btn-block btn-primary" id="busupdate">Add</button>
            </form>
        </div>
    </div>

</div>
@section Scripts{
    <script>
        //Get bus to select box
        $.ajax({

            url: '/Bus/BusGetByIdCompareWithBusSchedule',
            type: 'post',
            dataType: 'json',
            data:
            {
            },
            success: function (result) {

                if (result) {
                    var busVal = '';

                    for (i = 0; i < result.length; i++) {
                        busVal += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $('#getbusid').append(busVal);
                }
            },
        });


        $.ajax({

            url: '/Bus/GetBusWithNoSchedule',
            type: 'post',
            dataType: 'json',
            data:
            {
            },
            success: function (result) {

                if (result) {
                    var busVal = '<option value="Choose New Bus Id" selected disabled>Add New Bus Id</option>';

                    for (i = 0; i < result.length; i++) {
                        busVal += '<option value="' + result[i] + '">' + result[i] + '</option>';
                    }
                    $('#getnewbusid').append(busVal);
                }
                else {
                    var busVal = '<option selected disabled>All Bus are scheduled</option>';
                    $('#getnewbusid').append(busVal);
                }
            },
        });
     

        
        function search(string) {
            window.find(string);
        }

        function showschedule(id) {
            var busScheduleid = id;
            //alert(id);
            $('#schedule').animate({ top: '2%' }, 500);
            $('.account-dropdown').hide();

            $.ajax({

                url: '/BusSchedule/BusGetById',
                type: 'get',
                dataType: 'json',
                data:
                {
                    id: busScheduleid,
                },
                success: function (result) {
                    //debugger
                    document.getElementById('destination').value = result.busScheduleDriverName;
                    document.getElementById('source').value = result.busName;
                    document.getElementById('bustime').value = result.toBusSchedule;
                    document.getElementById('busdate').value = result.fromBusSchedule;
                    document.getElementById('bustime').value = result.busScheduleTime;
                    document.getElementById('busdate').value = result.busScheduleDate;
                    document.getElementById('busid').value = result.busId;
                    document.getElementById('budschedulerid').value = result.busScheduleId;
                }
            });
            document.getElementById("overlay1").style.display = "block";

        }

        //function BusScheduleSwap()
        //{
        //    var busid = $("#getbusid").val();
        //    var newbusid = $("#getnewbusid").val();
        //    var tobus = $("#destination").val();
        //    var frombus = $("#source").val();
        //    var bustime = $("#scheduletime").val();
        //    var busdate = $("#scheduledate").val();
        //    var driver = "kaa";
        //    alert("hii");
        //    $.ajax({
        //        url: '/BusSchedule/AddBusSchedule',
        //        type: 'post',
        //        dataType: 'json',
        //        data:
        //        {
        //            BusScheduleDriverName:driver,             
        //           ToBusSchedule: tobus,
        //           FromBusSchedule: frombus,
        //           BusScheduleTime: bustime,
        //           BusScheduleDate: busdate,
        //           BusId: newbusid,
        //        },
        //        success: function (result) {
        //            //$.ajax({
        //            //    url: '/BusSchedule/DeleteBusSchedule',
        //            //    type: 'post',
        //            //    dataType: 'json',
        //            //    data:
        //            //    {
        //            //        id: busid,
        //            //    },
        //            //    success: function (result) {
        //            //        alert("Successfully inserted Bus schedule");
        //            //    },
        //            //}); 
        //        },
        //    }); 
        //}

        function filldetails() {
            var busid = $("#getbusid").val();

            $.ajax({

                url: '/BusSchedule/GetBusDetailsById',
                type: 'get',
                dataType: 'json',
                data:
                {
                    id: busid,
                },
                success: function (result) {
                    //debugger
                    document.getElementById('destination').value = result.toBusSchedule;
                    document.getElementById('source').value = result.fromBusSchedule;
                    document.getElementById('scheduledate').value = result.busScheduleDate;
                    document.getElementById('scheduletime').value = result.busScheduleTime;
                }
            });
            document.getElementById("overlay1").style.display = "block";

        }

        function hideschedule() {
            $('#schedule').animate({ top: '-500%' }, 500);
            window.location.reload('~/Dashboard/BusSchedule');
            document.getElementById("overlay1").style.display = "none";

        }

        function showchangeschedule() {

            $('#changeschedule').animate({ top: '2%' }, 500);
            //$('.account-dropdown').hide();

            //$.ajax({

            //    url: '/BusSchedule/BusGetById',
            //    type: 'get',
            //    dataType: 'json',
            //    data:
            //    {
            //        id: busScheduleid,
            //    },
            //    success: function (result) {
            //        //debugger
            //        document.getElementById('drivername').value = result.busScheduleDriverName;
            //        document.getElementById('busname').value = result.busName;
            //        document.getElementById('busto').value = result.toBusSchedule;
            //        document.getElementById('busfrom').value = result.fromBusSchedule;
            //        document.getElementById('bustime').value = result.busScheduleTime;
            //        document.getElementById('busdate').value = result.busScheduleDate;
            //        document.getElementById('busid').value = result.busId;
            //        document.getElementById('budschedulerid').value = result.busScheduleId;
            //    }
            //});
            document.getElementById("overlay1").style.display = "block";
        }

        function hidechangeschedule() {
            $('#changeschedule').animate({ top: '-500%' }, 500);
            window.location.reload('~/Dashboard/BusSchedule');
            document.getElementById("overlay1").style.display = "none";

        }

        function showadd() {
            $('#add').animate({ top: '2%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay1").style.display = "block";
        }
        function hideadd() {
            $('#add').animate({ top: '-500%' }, 500);
            document.getElementById("overlay1").style.display = "none";

        }


    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/BusSchedule/GetBusDetail',
                type: 'get',
                dataType: 'json',
                success: function (result) {
                    //debugger
                    if (result) {
                        var bus = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {
                            //bus += '<tr class="tr-shadow"><td class="ds" value="' + result[i].busId + '">' + result[i].busId + '</td><td>' + result[i].busName + '</td><td>' + result[i].busDriverName + '</td><td><div class="table-data-feature"><button onclick="show();" title="Send Message" class="btn btn-primary"><a onclick="showschedule(' + result[i].busScheduleId + ' ); ">Schedule</a></button></div></td></tr>';
                            bus += '<tr class="tr-shadow"><td class="ds" value="' + result[i].busId + '">' + result[i].busId + '</td><td>' + result[i].busName + '</td><td>' + result[i].busDriverName + '</td></tr>';
                        }
                        bus += '</tbody>'

                        $('#bus').append(bus);

                    }
                    else {
                        alert("failed to get data");
                    }

                },

            });
            $("#busupdate").click(function () {

                var dName = $("#dName").val();
                //var bto = $("#bto").val();
                //var bfrom = $("#bfrom").val();
                //var btime = $("#btime").val();
                //var bdate = $("#bdate").val();
                var bname = $("#bname").val();

                //alert(dName);
                //alert(bto);

                $.ajax({
                    url: '/Bus/AddBus',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        BusName: bname,
                        BusDriverName: dName,
                        //ToBusSchedule: bto,
                        //FromBusSchedule: bfrom,
                        //BusScheduleTime: btime,
                        //BusScheduleDate: bdate,
                    },
                    //debugger
                    success: function (result) {
                        //debugger;
                        //alert("Also Successfully inserted Bus Schedule");
                        //var busId = result;
                        //$.ajax({
                        //    url: '/BusSchedule/AddBusSchedule',
                        //    type: 'post',
                        //    dataType: 'json',
                        //    data:
                        //    {
                        //        BusScheduleDriverName: dName,
                        //        ToBusSchedule: bto,
                        //        FromBusSchedule: bfrom,
                        //        BusScheduleTime: btime,
                        //        BusScheduleDate: bdate,
                        //        BusId: busId,
                        //    },
                        //    success: function (result) {
                        //        alert("Successfully inserted Bus schedule");
                        //    },
                        //}); alert("hello");
                    },
                }); alert("Successfully inserted Bus");
            });

            $("#BusScheduleSwap").click(function () {
                alert("hi");
                var busid = $("#getbusid").val();
                var newbusid = $("#getnewbusid").val();
                var tobus = $("#destination").val();
                var frombus = $("#source").val();
                var bustime = $("#scheduletime").val();
                var busdate = $("#scheduledate").val();
                var driver = "kaa";
                
                $.ajax({
                    url: '/BusSchedule/AddBusSchedule',
                    type: 'post',
                    dataType: 'json',
                    data:
                    {
                        BusScheduleId:busid,
                        BusScheduleDriverName: driver,
                        ToBusSchedule: tobus,
                        FromBusSchedule: frombus,
                        BusScheduleTime: bustime,
                        BusScheduleDate: busdate,
                        BusId: newbusid,
                    },
                    success: function (result) {
                        //$.ajax({
                        //    url: '/busschedule/DeleteBusSchedule',
                        //    type: 'post',
                        //    datatype: 'json',
                        //    data:
                        //    {
                        //        id: busid,
                        //    },
                        //    success: function (result) {
                        //        alert("successfully inserted bus schedule");
                        //    },
                        //}); 
                        alert("successfully inserted bus schedule");
                    },
                }); 
            });

            $("#BusScheduleupdate").click(function () {
                var busid = $('#busid').val();
                var budschedulerid = $('#budschedulerid').val();
                var busname = $('#busname').val();
                var drivername = $('#drivername').val();
                var to = $('#busto').val();
                var from = $('#busfrom').val();
                var time = $('#bustime').val();
                var date = $('#busdate').val();

                //alert(busid);
                //alert(budschedulerid);
                //alert(busname);

                var Bus = {
                    BusId: busid,
                    BusName: busname,
                }


                $.ajax({

                    url: '/BusSchedule/BusScheduleUpdate',
                    type: 'post',
                    dataType: 'json',
                    data: {
                        BusScheduleId: budschedulerid,
                        BusScheduleDriverName: drivername,
                        ToBusSchedule: to,
                        FromBusSchedule: from,
                        BusScheduleTime: time,
                        BusScheduleDate: date,
                        busName: busname,
                        BusId: busid,

                        Bus: Bus,

                    },
                    success: function (result) {
                        alert("Updated successfully");
                        //location.reload();
                    },
                });
            });
        });
    </script>

}


@section Styles{
    <style>


        #overlay1 {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            overflow: scroll;
        }

        #schedule {
            position: absolute;
            top: -500%;
            width: 37%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #changeschedule {
            position: absolute;
            top: -500%;
            width: 42%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #add {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto;
        }

        #test-form-div {
            position: fixed;
            top: -500%;
            max-width: 1500px;
            max-height: 1500px;
            min-width: 1500px;
            min-height: 1500px;
            background-color: black;
        }

        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 70%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 5px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
}








