@model StudentDetail;
@{
    ViewData["Title"] = "StudentView";

}


@section LeftNavigation{
    <partial name="_AdminLeftNavigation" />
}

<!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="card-header">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="title-1">
                        Student View
                    </h2>
                </div>
            </div>
        </div>
        <br />
        @*<div class="section__content section__content--p30">*@
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    @*<h2 class="title-1">
                        Student View
                    </h2>
                    <hr />*@
                    @*<div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <div class="rs-select2--light rs-select2--md">
                                <select class="js-select2" name="property">
                                    <option selected="selected">Filter</option>
                                    <option value="">By Class</option>
                                    <option value="">By Name</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                            @*<div class="rs-select2--light rs-select2--sm">
                                    <select class="js-select2" name="time">
                                        <option selected="selected">Today</option>
                                        <option value="">3 Days</option>
                                        <option value="">1 Week</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            <button class="au-btn-filter">
                                <i class="zmdi zmdi-filter-list"></i>Show All

                            </button>
                        </div>
                        <div class="table-data__tool-right">
                            <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                <i class="zmdi zmdi-plus"></i>Add item
                            </button>
                            <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                                <select class="js-select2" name="type">
                                    <option selected="selected">Export</option>
                                    <option value="">Option 1</option>
                                    <option value="">Option 2</option>
                                </select>
                                <div class="dropDownSelect2"></div>
                            </div>
                        </div>
                    </div>*@
                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2" style="width:15%;">
                        <i class="fas fa-filter"> Filter By</i>

                        <select class="js-select2" name="type">
                            @*<optgroup label="Ground Floor">*@
                            <option value="B1">Batch 1</option>
                            <option value="B2">Batch 2</option>
                            @*</optgroup>
                            <optgroup label="First Floor">*@
                            <option value="B3">Batch 3</option>
                            <option value="B4">Batch 4</option>
                            @*</optgroup>
                            <optgroup label="Second Floor">*@
                            <option value="B5">Batch 5</option>
                            @*<option value="B6">Batch 6</option>*@
                            @*</optgroup>*@
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>

                    <br /><br /><br />
                    <div class="table-responsive table-responsive-data2" style="overflow:auto">
                        <table class="table table-data2" id="df">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>DOB</th>
                                    <th>FatherName</th>
                                    <th>MotherName</th>
                                    <th></th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>

<!-- END MAIN CONTENT-->
<!--===========================-->
<!--start Account popup-->
<div id="overlay1" style="z-index:4">
    <!--start setting popup-->
    <form id="messageForm">
        <div id="setting1" class="">
            <a class="pull-right" onclick="hidesetting1();"><i class="fa fa-close"></i></a>
            <h2 align="center">Send Message</h2><hr />
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Student Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="studname" />
                </div>
            </div>
            @*<div class="form-group row">
                    <label for="inputPassword" class="col-sm-4 col-form-label">From</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="from" />
                    </div>
                </div>*@
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">To</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="tostudid" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Message</label>
                <div class="col-sm-8">
                    <textarea type="text" maxlength="30" class="form-control" id="msg"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Date and Time</label>
                <div class="col-sm-8">
                    <input type="datetime" class="form-control" id="date" />
                </div>
            </div>
            <div>
                <button type="button" id="sendbtn" class="btn btn-outline-primary btn-block">Send</button>
                <button type="reset" onclick="reset();" class="btn btn-outline-success btn-block">Clear</button>
            </div>
        </div>
    </form>
    <!--close setting popup-->
    <!--open edit popup-->
    <form asp-controller="Student" asp-action="StudentUpdate" enctype="multipart/form-data">
        <div id="edit" style="z-index:4">
            <a class="pull-right text-primary" onclick="hideedit();"><i class="fa fa-close"></i></a>
            <h2 align="center" class="text-primary">Edit Details</h2><hr />
            <div class="form-group row" hidden>.
                <label  class="col-sm-4 col-form-label">Student Id</label>
                <div class="col-sm-8">
                    <input asp-for="StudentId" type="text" id="sid" readonly>
                </div>
            </div>
            @*<div style="text-align:center">
                    <label for="staticEmail" class=" col-form-label">Student Image</label><br />
                    <img id="simage" class="img-rounded" width="304" height="236">
                </div>*@
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Student Image</label>
                <div class="col-sm-8">
                    <img name="oldimage" id="simg" class="form-control img-rounded" style="width:200px; height:230px;border-radius:40px;">
                    <input asp-for="StudentImg" required type="file" class="simgs form-control" title="Choose Student Profile Picture">
                </div>
            </div>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-4 col-form-label">Student Name</label>
                <div class="col-sm-8">
                    <input  asp-for="StudentName" required type="text"  class="form-control" id="sname" />
                </div>
            </div>
            @*<div class="form-group row">
                    <label for="staticEmail" class="col-sm-4 col-form-label">Student Image</label>
                    <div class="col-sm-8">
                        <input type="file" id="simg" name="nf-student-img" class="form-control" title="Choose Student Profile Picture">
                    </div>
                </div>*@
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input asp-for="StudentAddress" required type="text" class="form-control" id="Address" />
                </div>
            </div>
            <div class="form-group row">
                <label for="gender" class="col-sm-4 col-form-label">Gender *</label><br>
                <div class="col-sm-8">
                    <input  asp-for="StudentGender" required type="text" class="form-control" id="gender" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Date Of Birth</label>
                <div class="col-sm-8">
                    <input asp-for="StudentDob" required type="datetime" class="form-control" id="sdob" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Father Name</label>
                <div class="col-sm-8">
                    <input asp-for="FatherName" required type="text" class="form-control" id="ffname" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Mother Name</label>
                <div class="col-sm-8">
                    <input asp-for="MotherName" required type="text" class="form-control" id="mname" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Batch Name</label>
                <div class="col-sm-8">
                    <input asp-for="Batch" type="text" required class="form-control" id="batch" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">User Name</label>
                <div class="col-sm-8">
                    <input type="text" asp-for="UserName" required class="form-control" id="uname1">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="datetime" asp-for="UserEmail" required class="form-control" id="email1" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-4 col-form-label">Mobile Number</label>
                <div class="col-sm-8">
                    <input asp-for="UserMobileNo" required type="tel" class="form-control" id="umobileno" />
                </div>
            </div>

            <div>
                <input type="submit" class="btn btn-outline-primary btn-block" id="Studentupdate1" value="UPDATE"/>
                @*<button type="reset" class="btn btn-outline-success btn-block">Clear</button>*@
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var batch = $('.js-select2').val();
           
            $.ajax({
                url: '/Student/GetStudentDetail',
                type: 'get',
                dataType: 'json',
                data:
                {
                    batch: batch,
                },
                success: function (result) {

                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++)
                        {
                            bat += '<tr class="tr-shadow"><td>' + result[i].studentId + '</td><td>' + result[i].studentName + '</td><td class="desc"><img src="'+result[i].studentImg+'"/></td><td>' + result[i].studentAddress + '</td><td>' + result[i].studentGender + '</td><td>' + result[i].studentDob + '</td><td>' + result[i].fatherName + '</td><td>' + result[i].motherName + '</td><td><div class="table-data-feature"><button onclick="show();" class="item" data-toggle="tooltip" data-placement="top" title="Send Message"><a onclick="showsetting1();"><i class="zmdi zmdi-mail-send"></i></a></button><button class="item" data-toggle="tooltip" data-placement="top" title="Edit"><a onclick="showedit(' + result[i].studentId + ');"><i class="zmdi zmdi-edit"></i></a></button><button class="item"  data-toggle="tooltip" data-placement="top" title="Delete"><a onclick="disp(' + result[i].studentId + ')"><i class="zmdi zmdi-delete"></i></a></button></div></td></tr>';
                        }
                        bat += '</tbody>';

                        $('#df').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },


            });

            });

     

        //$("#Studentupdate").click(function () {
        //    debugger
        //    var studentid = $('#sid').val();
        //    var studentname = $('#sname').val();
        //    var newstudentimg = $('#simg').val();
        //    var studentimg = $('.simgs').val();
        //    var address = $('#Address').val();
        //    var gender = $('#gender').val();
        //    var studentdob = $('#sdob').val();
        //    var fathername = $('#ffname').val();
        //    var mothername = $('#mname').val();
        //    var batch = $('#batch').val();
        //    var uname = $('#uname').val();
        //    var email = $('#email').val();
        //    var umobileno = $('#umobileno').val();

        //    alert(studentid);
        //    alert(address);
        //    alert(email);
        //    alert(studentimg);
        //    alert(newstudentimg);

        //    var User = {

        //        UserName: uname,
        //        UserEmail: email,
        //        UserMobileNo: umobileno,
        //    }

        //    debugger
        //    $.ajax({

        //        url: '/Student/StudentUpdate',
        //        type: 'post',
        //        dataType: 'json',
        //        data: {
        //            //'{oldstudentimg: "' :+ $("#simg").val() + '" }',
        //            studentId: studentid,
        //            StudentName: studentname,
        //            StudentImg: studentimg,
        //            StudentAddress: address,
        //            StudentGender: gender,
        //            StudentDob: studentdob,
        //            FatherName: fathername,
        //            MotherName: mothername,
        //            Batch: batch,
        //            Parent: User,
        //            //User.userName: uname,
        //            //User.userEmail: email,
        //            //UserMobileNo: umobileno,
        //        },
        //        success: function (result) {
        //            alert("Updated successfully");
        //            location.reload();
        //        },
        //    });

        //    $("#sendbtn").click(function () {

        //        var from = $("#from").val();
        //        var tostudid = $("#tostudid").val();
        //        var msg = $("#msg").val();
        //        $.ajax({
        //            url: '/MessageBoard/SendMessage',
        //            type: 'post',
        //            dataType: 'json',
        //            data:
        //            {
        //                FromMsg: from,
        //                ToMsg: tostudid,
        //                Msg: msg,
        //            },
        //            success: function (result) {

        //                alert("Message send successfully");
        //                location.reload();

        //            },

        //        });
        //    });


        //});
    </script>

    <script>
        //function disp(a) {
        //    alert(a);
        //    //alert("hi");
        //}
        $('select').on('change', function (e) {
            batch = e.target.value;
            $('#df').html('');
           
           
            $.ajax({
                url: '/Student/GetStudentDetail',
                type: 'get',
                dataType: 'json',
                data:
                {
                    batch: batch,
                },
                success: function (result) {

                    if (result) {
                        var bat = ' <tbody>';
                        for (var i = 0; i < result.length; i++) {


                            bat += '<tr class="tr-shadow"><td>' + result[i].studentId + '</td><td>' + result[i].studentName + '</td><td class="desc"><img style="width:60%;height:15%" src="'+result[i].studentImg+'"/></td><td>' + result[i].studentAddress + '</td><td>' + result[i].studentGender + '</td><td>' + result[i].studentDob + '</td><td>' + result[i].fatherName + '</td><td>' + result[i].motherName + '</td><td><div class="table-data-feature"><button onclick="show();" class="item" data-toggle="tooltip" data-placement="top" title="Send Message"><a onclick="showsetting1();"><i class="zmdi zmdi-mail-send"></i></a></button><button class="item" data-toggle="tooltip" data-placement="top" title="Edit"><a onclick="showedit(' + result[i].studentId + ');"><i class="zmdi zmdi-edit"></i></a></button><button class="item"  data-toggle="tooltip" data-placement="top" title="Delete"><a onclick="disp(' + result[i].studentId + ')"><i class="zmdi zmdi-delete"></i></a></button></div></td></tr>';

                        }
                        bat += '</tbody>';

                        $('#df').append(bat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },


            });
});
        function search(string) {
            window.find(string);
        }


        function hidesetting1() {
            $('#setting1').animate({ top: '-500%' }, 500);
            document.getElementById("overlay1").style.display = "none";
            location.reload();
        }

        function showedit(id) {
            $('#edit').animate({ top: '8%' }, 500);
            var stdid = id;
            //debugger
            $.ajax({
                url: '/Student/StudentGetById',
                type: 'get',
                dataType: 'json',
                data:
                {
                    id: stdid,
                },
                success: function (result) {
                    document.getElementById('sid').value = result.studentId;
                    document.getElementById('sname').value = result.studentName;
                    document.getElementById('simg').src = result.studentImg;
                    document.getElementById('Address').value = result.studentAddress;
                    document.getElementById('gender').value = result.studentGender;
                    document.getElementById('sdob').value = result.studentDob;
                    document.getElementById('ffname').value = result.fatherName;
                    document.getElementById('mname').value = result.motherName;
                    document.getElementById('batch').value = result.batch;
                    document.getElementById('uname1').value = result.parent.userName;
                    document.getElementById('email1').value = result.parent.userEmail;
                    document.getElementById('umobileno').value = result.parent.userMobileNo;
                },
            });
            document.getElementById("overlay1").style.display = "block";
        }


        function showsetting1(id) {
            $('#setting1').animate({ top: '13%' }, 500);
            var stdid = id;
            $.ajax({
                url: '/Student/StudentGetById',
                type: 'get',
                dataType: 'json',
                data:
                {
                    id: stdid,
                },
                success: function (result) {
                    //document.getElementById('sid').value = result.studentId;
                    document.getElementById('studname').value = result.studentName;
                    document.getElementById('tostudid').value = result.studentId;

                },
            });
            document.getElementById("overlay1").style.display = "block";
        }

        function disp(a) {
            document.getElementById("overlay1").style.display = "block";
            alert(a);
            var delid = a;
            $.ajax({

                url: '/Student/StudentDeleteId',
                type: 'post',
                dataType: 'json',
                data:
                {
                    id: delid,
                },
                success: function (result) {

                    alert("Student is Deleted successfully");
                    location.reload();
                },
            });

        }

        function hideedit() {
            $('#edit').animate({ top: '-500%' }, 500);
            document.getElementById("overlay1").style.display = "none";
            location.reload();
        }

        //function showtest() {
        //    $('#test-form').animate({ top: '15%' }, 500);
        //    $('#test-form-div').animate({ top: '20%' }, 500);
        //    $('.account-dropdown').hide();
        //    document.getElementById("overlay").style.display = "block";
        //}
        //function hidetest() {
        //    $('#test-form').animate({ top: '-500%' }, 500);
        //    document.getElementById("overlay").style.display = "none";
        //    location.reload();
        //}

        //function showsetting() {
        //    $('#setting').animate({ top: '15%' }, 500);
        //    $('.account-dropdown').hide();
        //    document.getElementById("overlay").style.display = "block";
        //}
        //function hidesetting() {
        //    $('#setting').animate({ top: '-500%' }, 500);
        //    document.getElementById("overlay").style.display = "none";
        //    location.reload();
        //}

        //function showmoresetting() {
        //    $('#moresetting').animate({ top: '15%' }, 500);
        //    $('.account-dropdown').hide();
        //    document.getElementById("overlay").style.display = "block";
        //}
        //function hidemoresetting() {
        //    $('#moresetting').animate({ top: '-500%' }, 500);
        //    document.getElementById("overlay").style.display = "none";
        //    location.reload();
        //}


        function reset() {
            document.getElementById('messageForm').reset();
        }
    </script>
}

@section Styles{
    <style>

        #overlay1 {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            overflow: auto;
        }

        #setting1 {
            position: absolute;
            top: -500%;
            width: 36%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
            overflow: auto
        }

        #edit {
            position: absolute;
            top: -500%;
            width: 45%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 15px;
            /*overflow: scroll;*/
        }

        #test-form {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #setting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #moresetting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #test-form-div {
            position: fixed;
            top: -500%;
            max-width: 1500px;
            max-height: 1500px;
            min-width: 1500px;
            min-height: 1500px;
            background-color: black;
        }


        #prflimg {
            max-width: 50px;
            max-height: 50px;
            min-width: 40px;
            min-height: 40px;
        }


        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 70%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            /*content: "";*/
            clear: both;
            display: table;
        }
    </style>
}
