
@{
    ViewData["Title"] = "Admin";
    var user = User.Claims.ToList();
}
<!DOCTYPE html>
<html>
<head>
    <title>ChildCareSystem | Dashboard</title>
    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor ~/CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">
    <style>
        #overlay {
            position: fixed; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
            overflow: auto;
        }

        #test-form {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #setting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #moresetting {
            position: fixed;
            top: -500%;
            width: 35%;
            margin-left: 30%;
            background-color: white;
            box-shadow: 2px 3px 8px slategrey;
            border-radius: 5px;
            padding: 35px;
        }

        #test-form-div {
            position: fixed;
            top: -500%;
            max-width: 1500px;
            max-height: 1500px;
            min-width: 1500px;
            min-height: 1500px;
            background-color: black;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>

    <partial name="_CookieConsentPartial" />

    <div class="page-wrapper">
        <!-- HEADER MOBILE-->

        @RenderSection("LeftNavigation", required: true)

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <div style="display:flex; height:30%">
                                <input class="au-input au-input--h65" id="search" autocomplete="off" type="text" name="search" placeholder="Search" style="border: 1px solid grey" />
                                <button class="text-primary" type="button" onclick="search(document.getElementById('search').value)" style="width:50px;background-color:blue">
                                    <i class="zmdi zmdi-search" style="color:white;"></i>
                                </button>
                            </div>&nbsp;&nbsp;&nbsp;
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity" id="msgcount"></span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p id="msginnertext"></p>
                                            </div>
                                            <div id="msgusername"></div>

                                            @*<div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>


                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image" id="userimg">
                                            <img src="~/images/img/user.png" style="width:80%; height:80%" alt="John Doe" />
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="info clearfix">
                                                <div class="image">
                                                    <a href="#">
                                                        <img src="~/images/img/user.png" alt="John Doe" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="name">
                                                        <a href="#" id="username"></a>
                                                    </h5>
                                                    <span id="emails"></span>
                                                    <span id="userid" hidden></span>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="#test-form" onclick="showtest()">
                                                        <i class="zmdi zmdi-account"></i>Account
                                                    </a>
                                                </div>
                                                <div class="account-dropdown__item">
                                                    <a href="#setting" onclick="showsetting()">
                                                        <i class="zmdi zmdi-settings"></i>Setting
                                                    </a>
                                                </div>

                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a asp-area="" asp-controller="Account" asp-action="LogOut">
                                                    <i class="zmdi zmdi-power"></i>Logout
                                                </a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->
            @RenderBody()
        </div>
        <!-- END PAGE CONTAINER-->
    </div>

    <!--start Account popup-->
    <div id="overlay" style="z-index:4;">
        <div id="test-form-div ">
            <div id="test-form" class="">
                <div class="form-container">
                    <a class="pull-right text-primary" onclick="hidetest();" href=" "><i class="fa fa-close"></i></a>
                    <h2 align="center" class="text-primary">Profile View</h2><hr />
                    <form action=" " method="post">
                        <div class="form-group" align="center">
                            <div class="image">
                                <img src="~/images/img/user.png" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-primary">User Name</label>
                            <label class="form-control" name="fname" id="uname"></label>
                        </div>
                        <div class="form-group">
                            <label class="text-primary">User Email</label>
                            <label class="form-control" name="email" id="email"></label>
                        </div>
                        <div class="form-group">
                            <label class="text-primary">Mobile No</label>
                            <label class="form-control" name="number" id="mob"></label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--close Account popup-->
        <!--start setting popup-->
        <div id="setting" class="">
            <div class="form-container">
                <a class="pull-right text-primary" onclick="hidesetting();" href=" "><i class="fa fa-close"></i></a>
                <h2 align="center" class="text-primary">Password Setting</h2><hr/>
                <form action="" method="post">
                    <div class="form-group" hidden>
                        <label class="text-primary">User Id</label>
                        <input class="form-control" name="fname" id="udetailids">
                    </div>
                    <div class="form-group">
                        <label>Old Password</label>
                        <input class="form-control" type="password" name="password" id="oldpass" required>
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input class="form-control" type="password" name="password" id="newpass" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Confirm Password</label>
                        <input class="form-control" type="password" name="password" id="confpass" required>
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" id="passsetting">SUBMIT </button><br>
                    <a href="#moresetting" class="pull-right" onclick="showmoresetting()">Set More Details</a>
                </form>
            </div>
        </div>
        <!--close setting popup-->
        <!--start more setting popup-->
        <div id="moresetting" class="">
            <div class="form-container">
                <a class="pull-right text-primary" onclick="hidemoresetting();" href=" "><i class="fa fa-close"></i></a>
                <h2 align="center" class="text-primary">User Detail Settings</h2><hr />
                <form action=" " method="post">
                    <div class="form-group" align="center">
                        <div class="image">
                            <img src="~/images/img/user.png" />
                        </div>
                    </div>
                    <div class="form-group" hidden >
                        <label class="text-primary">User Id</label>
                        <input class="form-control" name="fname" id="udetailid">
                    </div>
                    <div class="form-group">
                        <label class="text-primary">User Name</label>
                        <input class="form-control" name="fname" id="udetailname">
                    </div>
                    <div class="form-group">
                        <label class="text-primary">User Email</label>
                        <input class="form-control" name="email" id="udetailemail">
                    </div>
                    <div class="form-group">
                        <label class="text-primary">Mobile No</label>
                        <input class="form-control" name="number" id="udetailmob">
                    </div>
                    <button type="submit" class="btn btn-block btn-primary" id="teachereditprofile">EDIT</button>
                </form>
            </div>
        </div>
        <!--close more setting popup-->
    </div>


    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.world.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.brazil.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.europe.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.france.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.germany.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.russia.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.usa.js"></script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>

    <script>
        function showtest() {
            $('#test-form').animate({ top: '15%' }, 500);
            $('#test-form-div').animate({ top: '20%' }, 500);
            //$('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidetest() {
            $('#test-form').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        function showsetting() {
            $('#setting').animate({ top: '15%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidesetting() {
            $('#setting').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
            window.location.reload('~/Dashboard');
        }

        function showmoresetting() {
            $('#moresetting').animate({ top: '15%' }, 500);
            $('.account-dropdown').hide();
            document.getElementById("overlay").style.display = "block";
        }
        function hidemoresetting() {
            $('#moresetting').animate({ top: '-500%' }, 500);
            document.getElementById("overlay").style.display = "none";
        }

        $(document).ready(function () {

            $.ajax({
                url: '/MessageBoard/GetMsgCount',
                type: 'get',
                dataType: 'json',
                success: function (result) {

                    if (result) {
                        document.getElementById('msgcount').innerHTML = result;
                        document.getElementById('msginnertext').innerHTML = "You have " + result + " new message";
                    }
                    else {
                        document.getElementById('msgcount').innerHTML = 0;
                        document.getElementById('msginnertext').innerHTML = "No new message";
                    }
                },

            });

            $.ajax({
                url: '/MessageBoard/GetMsgUser',
                type: 'get',
                dataType: 'json',
                success: function (result) {

                    if (result) {
                        var bat = '';

                        for (var i = 0; i < result.length; i++) {

                            bat += '<div class="mess__item"><div class="content" onclick="viewfunc()"><h6>' + result[i].userEmail + '</h6></div></div>';
                        }

                        $('#msgusername').append(bat);
                        //document.getElementById('msgusername').innerHTML = bat;
                    }
                },

            });


            $.ajax({
                url: '/User/GetUsersInfo',
                type: 'get',
                dataType: 'json',

                success: function (result) {
                    document.getElementById('userid').innerHTML = result.userId;
                    document.getElementById('username').innerHTML = result.userName;
                    document.getElementById('emails').innerHTML = result.userEmail;
                    document.getElementById('uname').innerHTML = result.userName;
                    document.getElementById('email').innerHTML = result.userEmail;
                    document.getElementById('mob').innerHTML = result.userMobileNo;

                    document.getElementById('udetailname').value = result.userName;
                    document.getElementById('udetailemail').value = result.userEmail;
                    document.getElementById('udetailmob').value = result.userMobileNo;
                    document.getElementById('udetailid').value = result.userId;
                    document.getElementById('udetailids').value = result.userId;
                },
            });


            $("#teachereditprofile").click(function () {
                var userid = $('#udetailid').val();
                var username = $('#udetailname').val();
                var useremail = $('#udetailemail').val();
                var usermob = $('#udetailmob').val();

                $.ajax({
                    url: '/User/UserUpdate',
                    type: 'post',
                    dataType: 'json',
                    data: {

                        UserId: userid,
                        UserName: username,
                        UserEmail: useremail,
                        UserMobileNo: usermob,
                    },
                    success: function (result) {
                        alert("Details Updated successfully");
                    },
                });
            });

            $("#passsetting").click(function () {
                var userid = $('#udetailids').val();
                var oldpass = $('#oldpass').val();
                var newpass = $('#newpass').val();
                var confpass = $('#confpass').val();
                
                //alert(userid);
                //alert(oldpass);
                //alert(newpass);

                if (newpass == confpass) {
                    $.ajax({
                        url: '/User/UserPasswordUpdate',
                        type: 'post',
                        dataType: 'json',
                        data: {
                            UserId: userid,
                            UserPassword: newpass,

                        },
                        success: function (result) {
                            alert("Password Updated successfully");
                        },
                    });
                }
                else {
                    alert("Invalid Details")
                }
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
