<!-- HEADER MOBILE-->
<header class="header-mobile d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
            <div class="header-mobile-inner">
                <a class="logo" href="index.html">
                    
                </a>

                <button class="hamburger hamburger--slider" type="button">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
            <ul class="navbar-mobile__list list-unstyled">
                <li class="has-sub">
                    <a asp-area="" asp-controller="User" asp-action="Index">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>

                </li>

                <li>
                    <a asp-area="" asp-controller="User" asp-action="Student">
                        <i class="fas fa-table"></i>Student Details
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="Camera">
                        <i class="fas fa-chart-bar"></i>Camera View
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="StudentSchedule">
                        <i class="fas fa-table"></i>Student Schedule
                    </a>
                </li>

                @*<li>
            <a href="~/Home/Calender1">
                <i class="fas fa-calendar-alt"></i>Calendar
            </a>
        </li>*@
                @*<li>
            <a asp-area="" asp-controller="User" asp-action="BusTracking">
                <i class="fas fa-map-marker-alt"></i>Location
            </a>
        </li>*@
                <li class="has-sub">
                    <a class="js-arrow">
                        <i class="fas fa-map-marker-alt"></i>Location
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>                          
                            <a href="@Url.Action("BusTracking", "User")" target="_blank">Bus Location</a>
                        </li>

                    </ul>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="@Url.Action("StudentTracking", "User")" target="_blank">Student Location</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </nav>
</header>
<!-- END HEADER MOBILE-->
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="#">
            <p style="font-family: 'Britannic Bold'; font-size: 20px; margin-left:10%"><img src="~/images/img/Logopic3a.jpg" style="width: 20%; height:40%;" />ChildCare System</p>
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="active has-sub">
                    <a asp-area="" asp-controller="User" asp-action="Index">
                        <i class="fas fa-tachometer-alt"></i>Dashboard
                    </a>

                </li>

                <li>
                    <a asp-area="" asp-controller="User" asp-action="Student">
                        <i class="fas fa-table"></i>Student Details
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="Camera">
                        <i class="fas fa-chart-bar"></i>Camera View
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="User" asp-action="StudentSchedule">
                        <i class="fas fa-table"></i>Student Schedule
                    </a>
                </li>


                @*<li>
            <a href="~/Home/Calender1">
                <i class="fas fa-calendar-alt"></i>Calendar
            </a>
        </li>*@
                <li class="has-sub">
                    <a class="js-arrow">
                        <i class="fas fa-map-marker-alt"></i>Location
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="@Url.Action("BusTracking", "User")" target="_blank">Bus Location</a>
                        </li>

                    </ul>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                        <li>
                            <a href="@Url.Action("StudentTracking", "User")" target="_blank">Student Location</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->