@*@{
    ViewData["Title"] = "Camera";

}*@

@section LeftNavigation{
    <partial name="_UserLeftNavigation" />
}


    <style>
       
    </style>
        <!-- MAIN CONTENT-->
        <div class="main-content">
            @*<div class="section__content section__content--p30">*@
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- DATA TABLE -->
                        <div class="row">
                            <div class="col-md-6">
                                <h1>Student View</h1>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-11">

                                <div class="au-card-inner" id="gh">

                                    <video id="videoid" class="videoclass" style="width:50%; height:400px;" controls autoplay>
                                    </video>
                                </div>


                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-11" style="background-color:black">

                         
                                <div id="df" style="width:50%;height:auto;display:flex;">

                                </div>
                            </div>
                         </div>
                            <!-- END DATA TABLE -->
                        </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
       


@section Scripts{
    <script>
        function search(string) {
            window.find(string);
        }
        function hi(a) {
            $('#gh').html('');
            $.ajax({
                url: '/Dashboard/Getvideofile',
                type: 'get',
                dataType: 'json',
                success: function (result) {

                    if (result) {

                 
                        var cat = '';
                        
                        cat += ' <video id="videoid"class="videoclass"width="50%" style="height:auto;border:3px solid black" controls autoplay ><source src="' + result[a] + '" type="video/mp4"></video>';
                  


                     
                        $('#gh').append(cat);

                    }
                    else {
                        alert("failed to get data");
                    }

                },


            });
           // alert(a)
        }
        $(document).ready(function () {

            $.ajax({
                url: '/Dashboard/videofile',
                type: 'get',
                dataType: 'json',
                success: function (result) {

                    if (result) {
                        var k = result.length - 1
                        var bat = '';
                        var cat = '';
                        for (var i = result.length-1; i >=0; i--) {
                            bat += '<div  class="p1" onClick="hi('+i+')""style="width:150px;height:150px;background-color:white;" > <video style="width:130px ; height:150px" > <source src="'+result[i]+'" type="video/mp4"> </video> </div>';
                           // cat += '<source src="' + result[i] + '"  type="video/mp4">';
                        }
                        cat += ' <video id="videoid"class="videoclass"width="100%" style="height:auto" controls autoplay ><source src="' + result[k] + '" type="video/mp4"></video>';


                        $('#df').append(bat);
                        $('#videoid').append(cat);
                        
                    }
                    else {
                        alert("failed to get data");
                    }

                },


            });
        });
        
    </script>
}
@section Styles{
    <style>


        .p1:hover {
            border: solid black 2px;
        }

        form.example input[type=text] {
            padding: 8px;
            font-size: 17px;
            border: 1px solid grey;
            float: left;
            width: 72%;
            height: 60%;
            background: white;
        }

        form.example button {
            float: left;
            width: 20%;
            height: 70%;
            padding: 10px;
            background: #2196F3;
            color: white;
            font-size: 17px;
            border: 1px solid grey;
            border-left: none;
            cursor: pointer;
        }

            form.example button:hover {
                background: #0b7dda;
            }

        form.example::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
    }

